<br>
Hi <span id="name"><%= @user.name%></span>!
<p>
 ChatApp lets you chat to anyone within a 500m radius.
</p>
<b>Debug Details: </b> <br>
Id: <%= @user.id %> <br>
Latitude: <span id="lat"></span> <br>
Longitude: <span id="lng"></span> <br><br>
<div class="row">
  <div class="col-md-12">
    <form action="" id="form">
      <div class="form-group">
        <label for="message">Message (First message takes a while to send)</label>
        <input type="text" class="form-control" id="message" placeholder="Enter message" autocomplete="off">
      </div>
    </form>
    <button id="send" class="btn btn-primary disabled">Connecting</button>
  </div>
</div>
<div class="scroll_messages">
  <ul id="chat_messsages"></ul>
</div>

<div id="map-canvas"></div>

<input type="hidden" id="user_id" value="<%= @user.id %>">
<input type="hidden" id="user_name" value="<%= @user.name %>">